---
import ProductCard from "../../components/ProductCard.astro";
import SortButton from "../../components/SortButton.astro";
import Layout from "../../layout/Layout.astro";

const baseUrl = `${import.meta.env.SUPABASE_URL}/rest/v1/Charlotte_Tijhuis`;

const params = new URLSearchParams();

params.set("select", "*");

params.set("kategori", "eq.herre");

const url = `${baseUrl}?${params.toString()}`;

const apiKey = import.meta.env.SUPABASE_PUBLISHABLE_KEY;

const res =  {
  headers: {
    apikey: apiKey,
    Authorization: `Bearer ${apiKey}`,
  },
};

const data = await fetch(url, res).then((res) => res.json());
---

<Layout title="Signatur Smykker">
  <h1 class="bestseller_title">Herre Smykker</h1>
  <div class="grafisk_element">
    <p class="productlist_p">Her ser I mine signatursmykker, som alle er håndlavede, personlige og skabt med fokus på kvalitet og god energi. I er altid velkomne til at kontakte mig, hvis I har særlige forespørgsler eller ønsker. Jeg tilbyder også at omsmelte gamle smykker og forvandle dem til nye, unikke designs.</p>
  </div>
  <div class="sort_wrapper">
    <SortButton text="Sorter efter pris ⇅" id="sortBtn" />
  </div>
  <div class="product_grid" id="productGrid">
    {
      data.map((product: Product) => (
        <div class="product-item" data-price={product.pris}>
          <ProductCard id={product.id} title={product.smykkenavn} price={product.pris} image={product.produktimage} hoverImage={product.produkthover} />
        </div>
      ))
    }
  </div>
</Layout>

<style>
  .bestseller_title {
    margin-top: 5rem;
    text-align: center;
  }

  .productlist_p {
    max-width: 45ch;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
  }

  .grafisk_element {
    width: 100vw;
    margin-left: calc(50% - 50vw); /*re-center*/
  }

  .grafisk_element img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 2rem;
  }

  .sort_wrapper {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  @media (min-width: 800px) {
    .bestseller_title {
      margin-top: 5rem;
      text-align: center;
    }

    .productlist_p {
      max-width: 65ch;
      display: block;
      margin: 0 auto;
    }

    .grafisk_element {
      width: 100vw;
      margin-left: calc(50% - 50vw); /*re-center*/
    }

    .grafisk_element img {
      width: 100%;
      height: auto;
      display: block;
      margin-top: 2rem;
    }

    .sort_wrapper {
      max-width: 1150px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      margin-top: 5rem;
    }
    .product_grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 5rem;
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 4rem;
      margin-bottom: 10rem;
    }
  }
</style>

<script>
  /*sort button js*/
  const btn = document.querySelector("#sortBtn");
  const grid = document.querySelector("#productGrid");

  /*højt til lavt*/
  let isAscending = true;

  btn?.addEventListener("click", () => {
    /*få al data i en ny array*/
    const items = Array.from(grid.querySelectorAll(".product-item"));

    /*sorter efter vores price "attribute"*/
    items.sort((a, b) => {
      const priceA = parseFloat(a.getAttribute("data-price"));
      const priceB = parseFloat(b.getAttribute("data-price"));
      return isAscending ? priceA - priceB : priceB - priceA;
    });

    /*grid--> sorterer og placerer samme data bare efter pris*/
    items.forEach((item) => grid.appendChild(item));

    /* for at kunne klikke igen og sortere efter modsat*/
    isAscending = !isAscending;
  });
</script>
