---
import Layout from "../layout/Layout.astro";
import { Image } from "astro:assets";
import bohippie from "../assets/imgBohhipie/bohippiehero.jpg";
import illustration1 from "../assets/imgBohhipie/hand.png";
import illustration2 from "../assets/imgBohhipie/lotus.png";
import smykke from "../assets/imgBohhipie/bohippieimg3.jpg";
import butik from "../assets/imgBohhipie/bohippieimg4.jpg";
import akvaral1 from "../assets/imgBohhipie/akvaral1.webp";
import akvaral2 from "../assets/imgBohhipie/akvaral2.png";
import halskede from "../assets/imgBohhipie/bohippieimg5.jpg";
---

<Layout title="Bohippie" pageClass="bohippieBackground">
  <section class="heroimg">
    <Image src={bohippie} quality={75} format="webP" alt="hero billede" />
  </section>

  <section class="afsnit1">
    <h4 class="h1overskrift">“Uhøjtidelige luksus smykker”</h4>
    <Image src={illustration1} format="webP" alt="illustration af hånd" />
    <p class="p1">
      Bohippie er mit frie smykkeunivers - en mere uhøjtidelig og legende
      forlængelse af mit arbejde som guldsmed. Her er der plads til det vilde,
      det skæve og det farverige, uden at det behøver at tage sig selv så
      højtideligt. Det er smykker med personlighed, energi og masser af kreativ
      frihed. Faktisk begyndte Bohippie længe før min karriere som guldsmed. Jeg
      blev fascineret af knyttede smykker på rejser i Asien - små
      boheme-inspirerede smykker lavet med snore, sten og detaljer i
      ædelmaterialer. Da et af smykkerne gik i stykker, fik jeg lyst til selv at
      lære håndværket bag. Og det greb mig fuldstændig. Processen med at skabe
      noget med hænderne, lege med former, farver og materialer og se et
      kreativt produkt tage form blev starten på hele mit univers.
      <br />
      <br />
      Bohippie er i dag mit kreative frirum. Et sideprojekt ved siden af guldsmedearbejdet,
      hvor jeg kan eksperimentere mere frit og lade det lidt skøre og spontane fylde.
      Smykkerne er primært lavet med knytning, ædelsten og særlige perler fundet rundt
      omkring på mine rejser. Her handler det ikke om perfektion, men om stemning,
      personlighed og glæden ved det håndlavede. Jeg elsker at rejse, og derfor er
      Bohippie også blevet en måde at kombinere mine passioner på. Jeg søger hele
      tiden efter små lokale håndværkere og unikke materialer rundt omkring i verden,
      som kan inspirere mig eller blive en del af mine designs og samarbejder.
      <br />
      <br />Bohippie henvender sig til dem, der gerne vil have noget anderledes,
      personligt og lidt mere flippet - uden at skulle op i den helt høje
      prisklasse. Det er uhøjtidelig luksus med kant, farver og frihed.
    </p>
  </section>

  <Image class="akvaral1" src={akvaral1} format="webP" alt="akvaral1" />

  <section class="grid_2">
    <Image
      src={smykke}
      quality={75}
      format="webP"
      alt="Billede af bohippie smykker"
    />

    <Image src={butik} quality={75} format="webP" alt="Billede fra butikken" />
  </section>

  <section class="afsnit1">
    <h4>“Doing what you like, it is freedom”</h4>
    <Image
      src={illustration2}
      format="webP"
      alt="illustration af lotusblomst"
    />
  </section>

  <div class="grid-wrapper">
    <section class="grid">
      <Image
        src={halskede}
        quality={75}
        format="webP"
        alt="Flere billeder af smykker"
      />

      <div>
        <p class="gridtekst">
          Knytteuniverset handler for mig ikke kun om smykker – det handler også
          om mennesker, kreativitet og fællesskab. Gennem mine rejser har jeg
          mødt små kunsthåndværkere og kreative sjæle rundt omkring i verden,
          som arbejder med helt særlige teknikker og traditioner inden for
          knytning og håndværk. <br /><br />Derfor betyder det meget for mig at
          skabe sociale og økonomiske samarbejder med mindre håndværkere, hvor
          vi kan inspirere hinanden og skabe noget sammen. Flere af dem arbejder
          med helt andre måder at knytte på, kombinere materialer og indarbejde
          ædelsten i smykkerne, hvilket giver nye og anderledes udtryk i
          Bohippie-universet.
        </p>
      </div>
    </section>
    <Image class="akvaral2" src={akvaral2} format="webP" alt="akvaral2" />
  </div>
</Layout>

<style>
  /*billeder*/
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*får billedet til at fylde hele boksen uden at blive skævt*/
    display: block;
  }

  .afsnit1 img {
    width: 70px;
    place-self: center;
  }

  .afsnit1 {
    padding: 2rem;
    place-self: center;
    margin: 0 auto;
    position: relative; /*flytte det og placere andre elementer i forhold til det*/
  }

  .grid img {
    width: 180px;
    justify-self: center;
    margin-bottom: 2rem;
  }

  .grid_2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
  }

  /*grid*/

  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .grid {
    place-self: center;
  }

  /*tekst*/
  .p1 {
    margin-top: 2rem;
    place-self: center;
  }

  .h1overskrift {
    text-align: center;
  }

  .gridtekst {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  /*illustrationer*/
  .akvaral1 {
    position: absolute; /*placere et bestemt sted på siden*/
    top: 150%;
    right: 15%;
    width: 30%;
    z-index: -1;
    pointer-events: none;
  }

  .grid-wrapper {
    position: relative; /*bliver i flowet, men kan flytte lidt på det*/
  }

  .akvaral2 {
    position: absolute;

    right: 5%;
    width: 20%;
    z-index: 0;
  }
  @media (min-width: 800px) {
    .afsnit1 img {
      width: 120px;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }

    .grid_2 {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
    .grid_2 img {
      height: 500px;
    }
    .grid img {
      width: 300px;
      margin-left: 15rem;
    }
    .gridtekst {
      max-width: 40ch;
    }
    .akvaral1 {
      position: absolute;
      top: 165%;
      left: 60%;
      width: 30%;
      z-index: -1;
    }
    .akvaral2 {
      right: 5%;
      width: 20%;
      top: 55%;
    }
  }
</style>
