---
import Card from "../components/Card.astro";
import Layout from "../layout/Layout.astro";
import { Image } from "astro:assets";
import portret from "../assets/imgOmOs/omospic1.jpg";
import butik from "../assets/imgOmOs/omos2.jpg";
import indien1 from "../assets/imgOmOs/omospic3.jpg";
import indien2 from "../assets/imgOmOs/omospic4.jpg";
import indien3 from "../assets/imgOmOs/omospic5.jpg";
import indien4 from "../assets/imgOmOs/omospic6.jpg";
import vaerkstedimg from "../assets/imgOmOs/vaerkstedimg.webp";
---

<Layout title="Om os">
  <section>
    <h1>Min passion</h1>
  </section>

  <section class="grid_1-1 pink-bg">
    <Image
      src={portret}
      quality={75}
      format="webP"
      alt="Billede af Charlotte og Joanna"
    />

    <div class="ptekst">
      <p>
        Mit univers begyndte med en kærlighed til at skabe smykker med hænderne.
        Det startede med knyttede smykker og små kurser, men udviklede sig
        hurtigt til en passion for håndværk, ædelsten og design. På mine mange
        rejser — særligt i Asien og Indien — fandt jeg inspiration i kulturerne,
        farverne og de organiske former. Jeg begyndte at tage perler og ædelsten
        med hjem, som blev en del af mine første designs og fundamentet for det
        univers, jeg arbejder i i dag. <br /><br /> Som 42-årig valgte jeg at følge
        min passion og begyndte i lære som guldsmed. Kort tid efter åbnede jeg min
        egen butik i Hillerød. Her arbejder jeg i dag med ægte materialer som guld
        og sølv og skaber smykker inspireret af naturen, symbolik og historierne,
        mennesker bærer med sig.
      </p>
    </div>
  </section>

  <section class="grid_1-1">
    <div class="ptekst2">
      <h2 class="overskrift2">Autentisk og upoleret</h2>
      <p class="ptekst3">
        Jeg elsker det upolerede og autentiske — for mig behøver noget ikke være
        perfekt for at være smukt. <br /><br /> Som jeg ofte siger: “Tag øjeblikket
        og gør det perfekt.” I dag driver jeg butikken sammen med Joana, som med sin
        kreativitet og varme er blevet en vigtig del af universet. Sammen ønsker vi
        at skabe et nærværende rum med plads til personlighed, håndværk og smykker
        med betydning.
      </p>
    </div>

    <Image
      src={butik}
      quality={75}
      format="webP"
      alt="Billede af Charlotte foran butik"
    />
  </section>

  <section class="galleri">
    <h2 class="overskrift3">Min Smykkerejse</h2>

    <div class="galleri-grid">
      <Image
        src={indien1}
        quality={75}
        format="webP"
        alt="Billede fra indien1"
      />
      <Image
        src={indien2}
        quality={75}
        format="webP"
        alt="Billede fra indien2"
      />
      <Image
        src={indien3}
        quality={75}
        format="webP"
        alt="Billede fra indien3"
      />
      <Image
        src={indien4}
        quality={75}
        format="webP"
        alt="Billede fra indien4"
      />
    </div>

    <p class="galleri-p">
      Jeg tror på, at smykker handler om mere end design - det handler også om
      mennesker, håndværk og omtanke. Selv mine smykkeposer er håndlavet i hør
      og silke af små familiedrevne virksomheder i Indien og skabt til at kunne
      bruges igen og igen. Derfor betyder det meget for mig at skabe sociale og
      økonomiske samarbejder med mindre håndværkere, hvor vi kan inspirere
      hinanden og skabe noget sammen. <br />
      <br />Hvert år rejser jeg selv til Indien i flere måneder for at skabe
      tætte samarbejder, finde unikke sten og hente inspiration i landets farver
      og kultur. Det giver mig mulighed for at skabe smykker med særlige sten og
      detaljer, som gør hvert smykke mere unikt og personligt. For mig er det
      vigtigt at støtte små familier og lokale håndværkere, så hvert smykke
      bliver en del af en større historie – med personlighed, omtanke og
      kærlighed til det unikke håndværk.
    </p>
  </section>

  <h2 class="overskrift4">Et glimt fra værkstedet</h2>
  <Card
    text="Alle mine smykker er håndlavede og skabt med fokus på detaljer og personlighed. Kig gerne forbi, hvis du har lyst til en snak om idéer, redesign eller et helt særligt smykke skabt kun til dig."
    image={vaerkstedimg.src}
    title="Billede af værksted"
  />
</Layout>

<style>
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .grid_1-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*får billedet til at fylde hele boksen uden at blive skævt*/
    display: block; /*gør elementet til en blok*/
  }

  /*overskrifter*/

  .overskrift2 {
    text-align: center;
  }

  .overskrift3 {
    margin-right: 6rem;
    text-align: end;
    margin-top: 4rem;
  margin-bottom: 1rem;
  }

  .overskrift4 {
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  /*tekst*/

  .ptekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ptekst2 {
    display: flex; /*placere og justere indhold i række eller kolonne*/
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }

  .ptekst3{
    margin-top: 1rem;
  }

  .pink-bg .ptekst {
    background-color: #d9868f;
    padding: 3rem;
  }

  /*de fire billeder*/

  .galleri-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .galleri-grid img {
    width: 105%;
    height: 120px;
    object-fit: cover; /*får billedet til at fylde hele boksen uden at blive skævt*/
    display: block;
  }

  .galleri-p {
    place-self: center;
    padding: 1rem;
  }

  /*desktop*/
  @media (min-width: 800px) {
    .grid_1-1 {
      grid-template-columns: 1fr 1fr;
      margin-top: 10rem;
      margin-bottom: 10rem;
    }

    .grid_1-1 img {
      height: 100%;
      object-fit: cover;
    }

    .galleri-grid img {
      width: 100%;
      height: 280px;
    }

    .overskrift4 {
      margin-left: 2rem;
      margin-top: 7rem;
    }

    .galleri-p {
      padding: 3rem;
    }

    .ptekst3{
      margin: 0 auto;
      margin-top: 1rem;
    }
  }
</style>
