---
import Layout from "../layout/Layout.astro";
import { Image } from "astro:assets";
import CardButton from "../components/CardButton.astro";
import Acoordian from "../components/Acoordian.astro";

export const prerender = false;

const id = Astro.url.searchParams.get("id");

const baseUrl = `${import.meta.env.SUPABASE_URL}/rest/v1/Charlotte_Tijhuis`;

const params = new URLSearchParams();
params.set("select", "*");

if (id) {
  params.set("id", `eq.${id}`);
}

const url = `${baseUrl}?${params.toString()}`;

const apiKey = import.meta.env.SUPABASE_PUBLISHABLE_KEY;

const res = await fetch(url, {
  headers: {
    apikey: apiKey,
    Authorization: `Bearer ${apiKey}`,
  },
});

const data = await res.json();
const product = data?.[0];
---

<Layout title={product.smykkenavn}>
  <section class="sectionWrapper">
    <section class="grid_1-1">
      <div>
        <!-- <Image class="productImg" src={product.image} width={200} format="webP" alt="Menu Kategori Ringe" />
      <Image class="productImg" src={product.image} width={200} format="webP" alt="Menu Kategori Ringe" /> -->
        <img class="productImg" src={product.produktimage} alt={`billede af produktet ${product.smykkenavn}`} />
        <img class="productImg" src={product.produkthover} alt={`billede af produktet båret på ${product.smykkenavn}`} />
      </div>
      <!-- 
      <section class="Information"> -->
      <section>
        <div class="PrimaryDescription">
          <h2 class="HeadlineStyle">{product.smykkenavn}</h2>
          <p>{product.materiale}</p>
          <p>{product.pris}</p>

          <h3>Detaljer</h3>
        </div>

        <article class="Accordion_container">
          <Acoordian title="Fragt" content="
Smykker sendes ikke med fragt, da flere forhold spiller ind. I stedet afhentes de i butikken, så vi sammen kan sikre, at alt er som det skal være – at smykket passer korrekt, og at der ikke opstår misforståelser omkring farver og nuancer, som kan forvrænges af kamera og skærm.
Dette gælder også ved omsmeltning af gammelt guld, hvor personlig gennemgang er vigtig. På den måde sikres en tryg proces, god kommunikation og et resultat, hvor du forlader butikken tilfreds med dit køb." />

          <Acoordian title="Fremstilling" content="Kom gerne i god tid inden en anledning, hvor du skal give en gave, eller bare gerne vil have smykket til en bestemt dato. Alle smykkerne er håndlavet af Joanna og mig, og derfor tager det længere tid end store smykkevirksomheder. " />

          <Acoordian title="Beskrivelse" overskrift="Materiale" content={product.beskrivelse} overskrift2="Låstype" content2={product.lock} />
        </article>
        <div class="buttonText">
          <p>Smykkerne på hjemmesiden fremstilles efter bestilling, så hvert smykke skabes med fokus på håndværk, detaljer og dine personlige ønsker.</p>
          <p class="bold">Kontakt mig gerne her, og fortæl om dine ønsker til smykket</p>
        </div>
        <div class="ButtonWrapper">
          <CardButton class="btn" text="Reserver" href="/kontakt" />
        </div>
      </section>
    </section>

    <style>
      /******* MOBIL  *********/

      .buttonText p {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 1rem;
      }
      .bold {
        font-weight: bold;
      }

      .sectionWrapper {
        margin: 5rem 0 10rem 0;
      }
      .productImg {
        width: 450px;
        margin: 0 auto;
      }
      .PrimaryDescription {
        text-align: center;
        margin-top: 2rem;
      }

      .PrimaryDescription h2 {
        margin-top: 3rem;
      }
      .PrimaryDescription p {
        margin: 0 auto;
      }
      .PrimaryDescription h3 {
        margin-top: 2rem;
      }

      .ButtonWrapper {
        width: fit-content;
        margin: 0 auto;
        margin-top: 2rem;
      }

      .Accordion_container {
        margin: 2rem auto;
        overflow: hidden;
        max-width: 25rem;
      }

      .grid_1-1 {
        margin: 5rem 0 5rem 0;
      }
      @media (min-width: 801px) {
        .buttonText p {
          text-align: left;
        }

        .grid_1-1 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 5rem;
          margin: 5rem 4rem 0 4rem;
        }

        .productImg {
          width: 500px;
        }
        .PrimaryDescription {
          text-align: left;
          margin-top: 0;
        }

        /* .Information {
      position: sticky;
      top: 10rem;
    } */

        .Accordion_container {
          max-width: 1000px;
        }
        .ButtonWrapper {
          margin: 2rem 0 0 0;
        }

        .PrimaryDescription h2 {
          margin-top: 0rem;
        }

        .PrimaryDescription p {
          margin: 1rem 0 0 0;
        }
      }
    </style>
  </section>
</Layout>
