---
import CardButton from "../components/CardButton.astro";

const { title, price, image, hoverImage, id } = Astro.props;
---

<div class="product_card">
  <a href={`/productDetails?id=${id}`}>
    <div class="image_wrapper">
      {image && <img src={image} alt={title} class="card-image default" />}

      {hoverImage && <img src={hoverImage} alt={title} class="card-image hover" />}
    </div>
  </a>
  <div class="card_content">
    <h2>{title}</h2>

    <div class="price_row">
      <p>{price}</p>
      <CardButton text="Læs mere"
  href={`/productDetails?id=${id}`} />
    </div>
  </div>
</div>

<style>
  .product_card {
    max-width: 320px;
    overflow: hidden;
  }

  .image_wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .card-image {
    position: absolute;
    inset: 0;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }

  @media (min-width: 800px) {
    .card-image {
      width: 100%;
      height: 100%;
    }
  }

  .card-image.default {
    opacity: 1;
    z-index: 1;
  }

  .card-image.hover {
    opacity: 0;
    z-index: 2;
  }

  .image_wrapper:hover .hover {
    opacity: 1;
  }

  .image_wrapper:hover .default {
    opacity: 0;
  }

  .card_content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto 0 auto;
    margin-top: -4rem;
    margin-bottom: 3rem;
  }

  @media (min-width: 800px) {
    .card_content {
      width: 100%;
      margin-top: 10px;
      gap: 6px;
    }
  }

  .card_content h2 {
    font-family: Gowun Batang;
    margin: 0;
    font-size: 1.1rem;
  }

  .price_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card_content p {
    font-family: Gowun Batang;
    color: var(--text-color);
    margin: 0;
    font-size: 0.9rem;
  }
</style>
